---
pagination:
  data: wwJournal.entries
  size: 1
  alias: entry
permalink: "journalEntries/{{ entry.date | date: '%b %d, %Y' }}/index.html"
layout: base.html
---

<section class="title">
  <h1><a href="/pages/journal">WOODWORKING JOURNAL:</a></h1>
  <h3>{{ entry.date }}</h3>
</section>

<div class="flexContainer">
  <section class="container">
    <div>
      {% assign pictures = entry.images %} {% for item in pictures %}
      <div class="pictures">
        <img src="{{ item }}" alt="" />
      </div>
      {% endfor %}
    </div>
  </section>

  <section class="container">
    <p>{{ entry.content }}</p>
    <p>
      I wanted to give up <span class="giveup">{{ entry.give }}</span> times
      this post
    </p>
  </section>
</div>

<script src="/js/counter.js"></script>
