---
pagination:
  data: wwJournal.entries
  size: 1
  alias: entry
permalink: "journalEntries/{{ entry.date | date: '%b %d, %Y' }}/index.html"
layout: base.html
---

<section class="title">
  <h1><a href="/pages/journal">WOODWORKING JOURNAL:</a></h1>
  <h3>{{ entry.date }}</h3>
</section>

<section class="container">
  {% assign pictures = entry.images %} {% for item in pictures %}
  <div class="entryPage">
    <img src="{{ item }}" alt="" />
  </div>
  {% endfor %}

  <div class="entryPage">
    <p>{{ entry.content }}</p>
    <p>
      I wanted to give up <span class="giveup">{{ entry.give }}</span> times
      this post
    </p>
  </div>
</section>

<script src="/js/counter.js"></script>
